* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.boards-container {
  display: flex;
  gap: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}

button.cell {
  width: 40px;
  height: 40px;
  background-color: #5bc0de;
  border: 1px solid #000;
}

.grid button.cell:hover {
  cursor: pointer;
  background-color: #337ab7;
}

.grid .cell.hit {
  background-color: red;
}

.grid .cell.miss {
  background-color: darkblue;
}

.cell.ship {
  background-color: green;
}

/* Styles for ships container */
.ships-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Vertical ship styling */
.ship {
  width: 40px;
  background-color: green;
  border: 1px solid #000;
  cursor: pointer;
}

#ship-2 {
  height: calc(2 * 40px);
}

#ship-3-1,
#ship-3-2 {
  height: calc(3 * 40px);
}

#ship-5 {
  height: calc(5 * 40px);
}

#ship-6 {
  height: calc(6 * 40px);
}

.ship:hover {
  background-color: #337ab7;
}

.ships-container .ship.placed {
  display: none;
}
